@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-VariableFont_opsz,wght.woff2') format('woff2'),
    url('/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Italic-VariableFont_opsz,wght.woff2') format('woff2'),
    url('/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Shadows Into Light';
  src: url('/fonts/ShadowsIntoLight-Regular.woff2') format('woff2'),
    url('/fonts/ShadowsIntoLight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
